@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{     
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       font-family: "Poppins", sans-serif;   
}

#navbar{
       position: sticky;
       top: 0;
       left: 0;
       z-index: 100;
       padding: .5rem 5rem;
       box-shadow: 5px 5px 20px black;
       background-color: black;
}

.navbar .navbar-brand{
       font-size: 30px;
       font-weight: 800;
       
}

#navbarSupportedContent a{
   color: white;
   border-bottom: 2px solid transparent;
}

#navbarSupportedContent a:hover{
       border-bottom: 2px solid orange;
}


#navbarSupportedContent button{

       background-color: orange;
       color: black;
       border-radius: 10px;

}

#navbarSupportedContent  a {
       font-size: 24px;
}

section {

       width: 100%;
       min-height: 100vh;
       display: flex;
       justify-content: center;
       align-items: center;
}

#Home {
    background:linear-gradient( rgba(0,0,0,.3),  rgba(0,0,0,.8)),url(/images/burgers-lbm.jpg); 
    background-size: cover;
    background-position: center;  
    flex-direction: column;
}

#Home h1{
       font-size: 1oopx;
       color: aliceblue;
       letter-spacing: 3px;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       font-weight: bolder;
       text-shadow: 0px 1px 0px rgb(30, 230, 26),0px 2px 0px rgb(11, 227, 29),0px 2px 0px rgb(9, 215, 60),0px 2px 0px rgb(19, 251, 46),0px 2px 0px rgb(6, 210, 6);
}
#Home p{
       font-size: 28px;
       color: white;

}

#Home .input-group{
       width: 40%;
       height: 45px;
       
}
#Home button{
       background-color: green;
       color: white !important;
           
       box-shadow: 2px 4px 5px rgba(0,0,0,.3);
       
}

#About {
       background-image: linear-gradient(to right, #434343 0%, black 100%);
}
  
#About p{
       color: #fcfcfc;
}

#Foods{
       background-color: rgb(87, 101, 97);
}

#Foods h1{
       font-size: 45px;
       letter-spacing: 2px;
       font-weight: 600;
}

#Foods img {
       width: 200px;
       height: 200px;
}

.card{
       width: 250px;
       height: 300px;
       border: #fcfcfc;
       border: none;
       box-shadow: 15px 20px 20px rgba(0,0,0,.3)
inset 4px 4px 10px white;
border-radius: 20px !important;
overflow: hidden;
justify-content: center;
align-items: center;
margin: 20px;
}